body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

/* .container {
    width: 320px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
} */


.container {
    width: 320px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    /* height: 100vh; */
}



.login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}
.form-group label {
    font-weight: bold;
    
   
}

/* .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
} */

/* .form-group input {
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
                -4px -4px 8px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s ease;
    width: 100%;
    outline: none;
}

.form-group input:focus {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
                -4px -4px 8px rgba(255, 255, 255, 0.7);
} */


.form-group input {
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
                -4px -4px 8px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s ease;
    width: 100%;
    outline: none;
    color: #333;
}

.form-group input:focus {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
                -4px -4px 8px rgba(255, 255, 255, 0.7);
    background-color: #ffffff;
}





.form-group button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px; /* Set a specific width for the button */
}

.form-group button:hover {
    background-color: #0056b3;
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        border-radius: 0;
    }
}
